<div class="container mt-5">
    
    <div class="d-flex align-items-center justify-content-center">
        <div class="col-md-6 col-lg-5 c">
            
            <div class="card">
                <div class="col text-center ">
                    <div class="text-center my-3 ">
                        <img class="" src="{{cdata.photo}}" alt="">
                    </div>
                </div>
              <ul style="list-style: none;">
            <li class="viewlist my-3">Name: <span>{{cdata.name}}</span></li>
            <li class="viewlist my-3">Email: <span>{{cdata.email}}</span></li>
            <li class="viewlist my-3">Mobile: <span>{{cdata.mobile}}</span></li>
            <li class="viewlist my-3">Company: <span>{{cdata.company}}</span></li>
            <li class="viewlist my-3">Title: <span>{{cdata.title}}</span></li>

            </ul>
                      

                        <div class="">
                            <a routerLink="/" class="btn btn-danger  my-2 ms-3 btn-lg">cancel</a>

                        </div>

                   

            </div>
        </div>
    </div>
</div>